.body_style {
    background-color: #011946;
    font-family: "Arial";
    zoom: 170%;
}

.title {
    text-align: center;
    color: white;
}

.table {
    background-color: #f5aeb0;
    border-collapse: collapse;
    margin: 25px 0;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
}

.table thead th {
    background-color: white;
    color: #373767;
    text-align: left;
}

.table th,
.table td {
    padding: 12px 15px;
}

.table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even) {
    background-color: #fccacb;
}

.table tbody tr:last-of-type {
    border-bottom: 2px rgba(21, 17, 36, 0.15);
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    color: #373767;
}