<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main_page_style.css' %}"/>

    <title>
        Cesão Records
    </title>
  </head>

  <body class="body_style">
    <h1 class="title">
        Cesão Records!
    </h1>

    {% if my_records %}
        <table class="table">

        <thead>
            <tr>
                <th>Name</th>
                <th>Artist</th>
                <th>Release Date</th>
                <th>Pressing Year</th>
                <th>Mono/Stereo</th>
                <th>Cover Rating</th>
                <th>Disc Rating</th>
                <th>View Record</th>
            </tr>
        </thead>

        <tbody>
            {% for r in my_records %}
            <tr>
                <td> {{r.album.name}} </td>
                <td> {{r.album.artist.name}}
                <td> {{r.album.release_date}} </td>
                <td> {{r.pressing_year}} </td>
                <td> {{r.channels}} </td>
                <td> {{r.cover_rating}} </td>
                <td> {{r.disc_rating}} </td>
                <td> <a href="/record/{{ r.album.name |slugify}}/{{ r.id }}" class="button"> View! </a> </td>
            </tr>
            {% endfor %}
        </tbody>

        </table>
    {% else %}
        <p>No records were found!</p>
    {% endif %}
  </body>

</html>

